%h2= 'temporary homepage'
%ul
  %li
    %h3
      = link_to t('nav.focused_search'), search_path
  %li
    %h3
      = link_to t('nav.suggest_topics'), suggest_path
  %li
    %h3
      = link_to t('nav.projects'), projects_path
