.full-screen-search-area.focus-search
  = form_tag search_disambig_path, method: :get, id: 'search-form' do
    .focus-search-bar
      %input#q{name: 'q', placeholder: t(:what_would_you_like_me_to_research_for_you)}
      %button.sara-button.button-primary{:style => "display: flex"}
        = t(:search)
        .by-icon-v02 1
