.full-screen-area
  .search-content.browsing-route
    %form.works_filters{"accept-charset" => "UTF-8", :action => "", "data-remote" => "true", :method => "post"}
      %input{:name => "utf8", :type => "hidden", :value => "✓"}/
      %input#sort_by{:name => "sort_by", :type => "hidden", :value => "alphabetical_asc"}/
      .filters-panel.categories
        .sort-type
          - ordinal = 0
          - @menu.each do |node|
            - ordinal += 1
            = render partial: 'shared/menu_item', locals: { node: node, level: 1, ordinal: ordinal, parent: '.categories' }

:javascript
  $(document).ready(function() {
    $('.collapse').collapse('hide');

    $('*[data-behavior=autocomplete]').each(function() {
      var iid = $(this).attr('id');
      var tag = $(this).data('tag');
      options = { 
        url: function(phrase) { return "#{autocomplete_by_filter_tag_path}?phrase=" + phrase + "&tag=" + tag + "&format=json";}, 
        getValue: "name",
        list: { 
      		match: { enabled: true },
          onChooseEvent: function() {
            var value = $('#'+iid).getSelectedItemData().qid;
            $('#'+iid+'_value').val(value);
          }
        }
      };
      $(this).easyAutocomplete(options);
    });
    $('.run_query').click(function() {
      $(this).text('querying...');
      $(this).prop('disabled', true);
      var base_query = $(this).data('base-query');
      var tag = $(this).data('tag');
      var params = [];

      $.post("#{query_by_filter_path}",
          { base_query: base_query, format: 'json', filter: tag, params: params },
      ).done(function(data) {
        data.forEach(function(item) {
          $('#result_list').append('<li>'+item.name+' ('+item.qid.replace('wd:','')+')</li>');
        });
      });

      url = "#{query_by_filter_path}?base_query=" + base_query + "&filter=" + tag + "&q=" + $('#param_'+tag+'_0_value').val() + "&format=json";
      $.ajax({type: 'post', url: url, context: this, success: function(response, status){
        response.forEach(function(item) {
          $('#result_list').append('<li>'+item.name+' ('+item.qid.replace('wd:','')+')</li>');
        });
        $(this).text('run query!');
        $(this).prop('disabled', false);
        console.log(response);
      }});

    }); 
  });
