@font-face {
  font-family: 'ben-yehuda';
  font-style: normal;
  font-weight: normal;
  src: font-url("fonts/ben-yehuda.eot?#iefix") format("embedded-opentype"),
  font-url("fonts/ben-yehuda.woff") format("woff");
}

@font-face {
  font-family: 'ben-yehuda-2';
  font-style: normal;
  font-weight: normal;
  src: font-url("fonts/ben-yehuda-2.eot?#iefix") format("embedded-opentype"),
  font-url("fonts/ben-yehuda-2.woff") format("woff");
}

@font-face {
  font-family: 'sara';
  font-style: normal;
  font-weight: normal;
  src: font-url("fonts/sara.eot?#iefix") format("embedded-opentype"),
  font-url("fonts/sara.woff") format("woff");
}
