 /* CSS Document */
/* SARA styles start */
:root {
  --system-10: #C1D9E2;
  --system-20: #98C1D0;
  --system-30: #4595B1;
  --system-40: #3285A2;
  --system-60: #17617B;
  --system-100: #00435B;
  --system-120: #00394E;
  --system-150: #012735;
  --system-200: #001A24;
  --suggestions-50: #005574;
  --suggestions-100: #007590;
  --text-100: #333333;
  --disabled-background: #c0c0c0;
  --disabled-icon: #909090;
  --disabled-text: #707070;
  --gentle-background: #EAECED;
}

body {
  font-family:"open sans", Helvetica, Arial, "sans-serif";
  font-size: 11pt;
  line-height: 14pt;
  color: var(--text-100);
  background-color: var(--gentle-background);
}
p{
	margin-bottom: 0;
}
.headline-3{
	font-size: 13pt;
	font-weight: bold;
}
.headline-4{
	font-weight: bold;
}
#header {
    position: fixed;
    top: 0;
    z-index: 12;
	width: 100%;
}
.header-general-area{
	position: relative;
	z-index: 12;
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	background-color: var(--system-100);
	color: white;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
}
.header-general{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 16px 0 8px 0;
}
.top-element{
}
.top-right{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
	gap: 24px;
}
.top-left{
	height: 60px;
}
.top-left-content{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 8px;
}
.top-logo{
	width: 196px;
	height: 74px;
	background-image: url("/assets/SARA_logo_with_slogen.svg");
    background-repeat: no-repeat;
    background-size:auto;
}


.by-icon-v02 {
  font-family: ben-yehuda;
  font-size: 14px;
  line-height: 14px;
}
.sara-icon {
  font-family: sara;
  font-size: 18px;
  line-height: 18px;
}
a{
  color: var(--system-100);
  cursor: pointer;
}
a:hover{
  color: var(--system-150);
}
a.by-icon-v02{
  padding: 4px;
  border-radius: 4px;
  text-decoration: none;
}
a.by-icon-v02:hover{
  background-color: var(--system-20);
}


.top-search-switch{
	height: 60px;
	border-radius: 0 12px;
	border: solid 1px var(--system-20);
	display: flex;
	margin-bottom: 2px;
}
a.top-search-option{
  	display: flex;
  	align-items: center;
	text-align: center;
	font-size: 14pt;
	padding: 4px 24px;
}

.top-search-option.right{
	border-radius: 0 12px 0 0 ;
}
.top-search-option.left{
	border-radius: 0 0 0 12px ;
}
#header a.top-search-option.right:hover{
	background-color: var(--suggestions-50);
	color: white;
}
#header a.top-search-option.right.active{
	background-color: var(--suggestions-100);
}
#header a.top-search-option.left:hover{
	background-color: var(--suggestions-50);
	color: white;
}
#header a.top-search-option.left.active{
	background-color: var(--suggestions-100);
}
.statistics-box{
	height: 60px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 24px;
	padding: 4px 18px 0 18px;
	border: solid 1px var(--system-60);
	color: var(--system-20);
	margin-bottom: 2px;
}
.statistics{
	text-align: center;
	display: flex;
	flex-direction: column;
}
.stat-big{
	font-size: 14pt;
}
.stat-small{
	font-size: 10pt;
}
.top-left-content a.by-icon-v02:hover{
	color: var(--system-20);
	background-color: var(--system-100);
}
.icons-seperator {
  height: 18px;
  width: 1px;
  background-color: var(--system-20);
}
.collapsed{
	cursor: pointer;
}
.user-menu-trigger{
	padding-right: 4px;
	display:flex;
	flex-wrap: nowrap;
	gap: 8px;
	align-items: center;
}
.user-menu-trigger:hover{
	color: var(--system-20);
}
.user-menu-trigger .by-icon-v02{
	font-size: 10px;
}
.favorites-btn{
  position: fixed;
	z-index: 4;
  display: flex;
  flex-wrap: nowrap;
	align-items: center;
	gap: 8px;
  float:left;
  top: 90px;
  left: 5%;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
  border: solid 2px var(--system-10);
  background-color: var(--system-10);
 color: var(--system-100);
  padding: 8px 8px 2px 8px;
  cursor: pointer;
}
.favorites-btn .by-icon-v02{
	font-size: 16px;
}
.favorites-btn:hover{
  background-color: var(--system-20);
  border-color: var(--system-20);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  text-overflow: clip;
  white-space: nowrap;
  border-radius: 4px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  z-index: 20;
  margin-top: 3px;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 14px;
}
.dropdown-content a {
  padding: 6px 15px;
  text-decoration: none;
  display: flex;
	align-items: center;
 }

.dropdown-content a:hover {
  background-color: var(--system-10);
  text-decoration: none;
}
.dropdown-content .by-icon-v02{
	font-size: 14px;
	margin-left: 8px;
}
.dropdown-menu{
	left: 5%;
}

.full-screen-search-area{
  width: 100%;
	min-height: 700px;
  display: flex;
  justify-content: center;
}
.full-screen-area{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.focus-search{
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.full-screen-search-area::before{
  background-image: linear-gradient(to bottom, #EAECED00, #EAECED00, #EAECED00, #EAECED00, #EAECED), url("/assets/New NLI.jpeg");
 
  content: "";
  position: absolute;
  background-size: cover;
  top: -200px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: .3;
}

input {
    border: none;
	border-radius: 4px;
    background-color: white;
	color: var(--text-100);
    width: 100%;
	height: 28px;
	padding: 0 8px;
}
select {
    border: none;
	border-radius: 4px;
    background-color: white;
	color: var(--text-100);
    width: 100%;
	height: 28px;
	padding: 4px;
}
.focus-search-bar{
  width: 520px;
  padding: 12px;
  background-color: var(--system-40);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  flex-wrap: nowrap;
  gap: 12px;
}
.sara-button{
    border: none;
	border-radius: 4px;
	min-height: 28px;
	min-width: 100px;
	height: auto;
	padding: 4px 8px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 8px;
	justify-content: center;
	cursor: pointer;
	line-height: 14pt;
}
.by-icon-v02.larger-icon{
	font-size: 16px;
}
.button-primary{
	background-color: var(--system-100);
	color: white;
}
.button-primary:hover{
	background-color: var(--system-150);
}
.button-primary.disabled{
	background-color: var(--disabled-background);
	color: var(--disabled-text);
	cursor: default;
}
.disabled .by-icon-v02{
	color: var(--disabled-icon);
}
.button-secondary{
	background-color: white;
	color: var(--system-100);
	border: solid 1px var(--system-100);
}
.button-secondary:hover{
	background-color: var(--system-20);
}
.button-secondary.disabled{
	color: var(--disabled-text);
	cursor: default;
	border: solid 1px var(--disabled-text);
}
.focus-search-bar input{
	height: 36px;
}
.focus-search-bar button{
	height: 36px;
}

.focus-search-bar .button-primary{
	background-color: var(--system-120);
}
.focus-search-bar .button-primary:hover{
	background-color: var(--system-200);
}
.search-content{
	width: 90%;
	display: flex;
	flex-wrap: nowrap;
	gap: 24px;
	align-items: flex-start;
}
.navigation-area{
	display: flex;
	flex-wrap: nowrap;
	background-color: var(--gentle-background);
}
.navigation{
	z-index: 12px;
	width: 90%;
	margin-right: 5%;
	margin-left: 5%;
	display: flex;
	flex-wrap: nowrap;
	gap: 24px;
	padding-top: 12px;
	padding-bottom: 12px;
}
.back-button{
	width: 196px;
}
.back-button.long{
	width: 384px;
}
.breadcrumbs{
	display: flex;
	flex-wrap: nowrap;
	gap: 4px;
	align-items: center;
}
.breadcrumbs-text.active a{
	color: var(--system-200);
	font-weight: bold;
}
.navigation .by-icon-v02{
	font-size: 12px;
}
.filters{
	position: fixed;
	width: 196px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 12px;
	z-index: 8;
}
.subjects-filter{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	background-color: var(--system-20);
	border-radius: 0 12px;
	padding: 8px 12px;
	gap: 12px;
}
.subjects-filter.active{
	background-color: var(--system-30);
}
.subjects-filter.disabled{
	background-color: var(--disabled-background);
	color: var(--disabled-text);
		cursor: default;
}
.subjects-filter.disabled a{
	color: var(--disabled-text);
		cursor: default;
	text-decoration: none;
}
.subjects{
	margin-right: 220px;
	width: calc(100% - 220px);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 12px;
}
.small-switch {
    height: 28px;
    border: solid 1px var(--system-100);
    display: flex;
}
.small-switch-option {
    width: 120px;
    text-align: center;
    line-height: 26px;
    border-top: none;
    border-right: none;
    border-bottom: none;
    border-left: solid 1px var(--system-100);
    padding: 0;
    cursor: pointer;
}
.small-switch-option:hover{
	background-color: var(--system-10);
}
.small-switch-option.active{
	background-color: var(--system-100);
	color: white;
}
.small-switch-option:last-child{
	    border-left: none;
}
.flex-headline-space-between{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.dates-range{
	display: flex;
	flex-wrap: nowrap;
	gap: 4px;
	align-items: baseline;
	justify-content: space-between;
}
.dates-range input{
	width: 70px;
}

.bottom-buttons-line{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
	justify-content: flex-end;
}
input[type=checkbox], input[type=radio] {
    height: 14px;
    width: 14px;
}
.input-line{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 8px;
}
.filter-tags-area{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	background-color: var(--system-20);
	padding: 8px 12px;
	gap: 8px;
	margin-bottom: 12px
}
.favorites .filter-tags-area{
	background-color: var(--system-10);
}
.tags-right{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 8px;
}
.tag-line{
	display: flex;
	flex-wrap: wrap;
	gap: 8px;
}
.tag{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: var(--system-10);
	padding: 2px 8px;
	gap: 8px;
}
.tag .by-icon-v02{
	font-size: 12px;
}
.left-bottons-area{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 8px;
}

.view-switch-line{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
	align-items: center;
	margin-bottom: 12px;
}
.results-area{
	display: flex;
	flex-wrap: nowrap;
	align-items: stretch;
	gap: 12px;
}
.results-list{
	width: 65%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 8px;
	padding-bottom: 24px;
}
.notes-area{
	width: 35%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 8px;	
}
.note{
	background-color: var(--system-10);
	padding: 12px;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 8px;
}
.note .sara-icon{
	font-size: 24px;
	line-height: 24px;
}
.result-item{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 12px;
	gap: 12px;
	background-color: white;
	border: solid 1px var(--system-20);
	min-height: 95px;
}
.result-item:hover{
	background-color: var(--system-10);
}
.result-item.active{
	background-color: var(--system-20);
}
.result-texts{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 8px;
}
.result-sources-icons{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
}
.result-sources-icons img{
	width: 24px;
	height: 24px;
}
.view-image{
	display: flex;
	height: 200px;
	background-color: var(--system-30);
	border: solid 1px var(--system-40);
}
.view-image img{
	object-fit: contain;
}
.view-image:hover{
		background-color: var(--system-40);
	border: solid 1px var(--system-100);
}
.top-x-line{
	display: flex;
	flex-wrap: nowrap;
	justify-content: flex-end;
}
.bold-text{
	font-weight: bold;
}
.subject-picture img{
	width: 80px;
	object-fit: contain;
}
.results-side{
	width: calc(100% - 408px);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 12px;
}
.filters-panel{
	width: 384px;
	background-color: var(--system-20);
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 12px;
	padding: 8px 12px;
}
.sort-type{
	margin-top: 8px;
}
.sort-type .nested-content {
    padding-top: 4px;
}
.nested-list {
    padding-right: 0;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-gap: 8px;
    -moz-column-gap: 8px;
    column-gap: 8px;
}
.nested-list .option-line{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
	align-items: center;
	padding: 4px 0;
}

.vertical-expand {
	height: 28px;
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
	align-items: center;
    background: none;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	color: var(--system-100);
	border-bottom: solid 1px var(--system-20);
}
.vertical-expand::before {
    font-family: ben-yehuda;
    font-size: 12px;
    color: var(--system-100);
    content: "]";
}
.collapsed.vertical-expand::before {
    content: "<";
}
.vertical-expand:hover {
    color: var(--system-150);
    border-bottom: solid 1px var(--system-30);
}
.sort-type ul {
    list-style: none;
	padding-inline-start: 0;
}
.info-type-filters{
	padding-right: 21px;
}
.nested-list .dates-range{
	margin-top: 18px;
}
.nested-list .dates-range input{
	width: 140px;
}


.dashboard-views{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	background-color: var(--system-20);
	padding: 12px;
	gap: 8px;	
}
.dashboard-views a.by-icon-v02:hover {
    background-color: var(--system-30);
}
.dashboard{
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
	margin-top: 8px;
}
.dashboard-item{
	height: 200px;
		width: calc(50% - 16px);
}
.d-frame{
	border: solid 1px var(--system-40);
	height: 160px;
	background-color: var(--gentle-background);
}

.d1{
	position: relative;
	top: 16px;
	right: 8px;
	z-index: 1;
	background-color: var(--system-20);
}
.d2{
	position: relative;
	top: -148px;
	right: 4px;
	z-index: 2;
	background-color: var(--system-10);
}
.d3{
	position: relative;
	top: -312px;
	right: 0;
	z-index: 3;
}
ul{
	margin-bottom: 0;
}
.d3 a{
	display: flex;
	flex-wrap: nowrap;
	padding: 12px;
	height: 100%;
	justify-content: space-between;
	color: white;
}
.d3 a:hover{
	background-color: var(--system-10);
	text-decoration: none;
	color: white;
}
.result-type-label{
	text-align: center;
	background-color: var(--system-100);
	padding: 0 6px;
	color: white;
}
.dashboard-image{
	height: 100%;
}
.dashboard-image img{
	object-fit:cover;
  height: 100%;
}
.dashboard-item-right{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
	height: 100%;
	gap: 4px;
}
.dashboard-item-left{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-between;
	height: 100%;
	gap: 4px;
}

.subjects-fixed-top-elements{
	width: 90%;
	position: fixed;
	background-color: var(--gentle-background);
	z-index: 4;
}
.works_filters{
	z-index: 8;
}
.results-by-type{
	display: flex;
	flex-wrap: nowrap;
	gap: 24px;

}


.flex-headline-space-between .vertical-expand:hover{
	color: var(--system-150);
	border-bottom: solid 1px var(--system-20);
}
.card-line{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
}
.results-by-type .result-item{
	flex-direction: column;
}
.result-item-content{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
	justify-content: space-between;
	align-items: flex-start;
}
.result-item-buttom-area{
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-end;
	gap: 4px;
}
.results-list .vertical-expand{
	height: auto;
	border-bottom: none;
}
.result-typr-labels-area{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	width: 100%;
	gap: 4px;
}
.result-origin{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: flex-end;
	width: 100%;
}

.results-by-type .result-item{
	gap: 8px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.item-type-headline{
	padding-right: 22px;
	margin-top: 8px;
}

.note-content{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
}

.flat-list {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    background-color: var(--system-20);
    padding: 12px;
    gap: 8px;
}
.a-b-pagination-frame {
    max-width: 560px;
    height: 23px;
    margin-bottom: 12px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--system-40);
    padding: 0 4px;
}
.a-b-pagination-frame a {
    flex-grow: 1;
    font-size: 12pt;
    text-align: center;
    line-height: 20px;
    padding: 0 3px;
}
.a-b-pagination-frame a.active {
    color: white;
    background-color: var(--system-100);
}
a[disabled=disabled] {
    cursor: none;
    color: var(--system-20);
}
.sort-flat-list-line {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 12px;
    padding-bottom: 8px;
	gap: 8px;
}
.sort-flat-list-line select{
	width: 200px;
}
.flat-list-li-attributes{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	height: 18px;
	gap: 24px;
	margin-left: 12px;
}
.flat-list-li-attributes img{
	width: 18px;
	height: 18px;
}
.flat-list-li-attributes .by-icon-v02{
	font-size: 18px;
	line-height: 18px;
	padding: 0;
}
.flat-list li .flat-list-item{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	gap: 12px;
}
.flat-list-item input{
	margin-right: -40px;
}

.flat-list-item-name a{
	margin-right: 26px;
	padding-right: 4px;
}
.list-header{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	height: 32px;
	gap: 12px;
}
.list-header .flat-list-item-name input{
	margin-left: 30px;
}
.list-header .flat-list-li-attributes{
	width: 102px;
	gap: 16px;
}

.flat-list li:nth-child(odd){
	background-color: var(--system-10);
}

.outline-fixed-top-elements{
	width: 90%;
	position: fixed;
	background-color: var(--gentle-background);
	z-index: 12;
	height: 56px;
}
.outline-sources-panel {
    width: 384px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 12px;
	z-index: 8;
}
.outline-right{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
}
.outline-right .by-icon-v02{
	font-size: 24px;
}
.outline-top-area{
	position: fixed;
	height: 44px;
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: space-between;
	background-color: var(--system-20);
	padding: 8px 12px;
	gap: 8px;
}
.outline-sources{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	background-color: var(--system-10);
	margin-bottom: 12px
}
.source-type-line{
	display: flex;
	flex-wrap: nowrap;
	background-color: var(--system-20);
	padding: 12px 12px 4px 12px;
	border-bottom: solid 1px var(--system-30);
}
.source-content-line{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	align-items: flex-start;
	padding: 8px 12px;
	gap: 4px;
	border-bottom: solid 1px var(--system-30);
}
.source-content-line:hover{
	background-color: var(--system-20);
	cursor: pointer;
}
.outline-top-area.outline-top-right{
	width: 384px;
}
.outline-top-area.outline-top-left{
	margin-right: 408px;
	width: calc(90% - 408px);
}
.outline-page-container{
	width: calc(100% - 408px);
	display: flex;
	flex-wrap: nowrap;
	background-color: var(--system-20);
	padding: 12px;
}
.outline-page{
	display: flex;
	width: 100%;
	flex-wrap: nowrap;
	flex-direction: column;
	background-color: white;
	padding: 12px;
	gap: 24px;
}
.outline-content-item{
	display: flex;
	flex-wrap: nowrap;
	gap: 12px;
}
.outline-content-texts{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 4px;
}
.browsing-route-image{
	display: flex;
	flex-wrap: nowrap;
	width: 100%;
	height: 100%;
}
.browsing-route-image img{
	width: 1215px;
	  margin-left: auto;
  margin-right: auto;
}
.search-by-topic-intro-text{
	margin-top: 40px;
}
.search-by-topic{
	width: 90%;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
}
.modal-dialog{
	margin: 100px auto 0 auto;
	max-width: unset;
}
.modal-body{
	width: 456px;
	padding: 0;
	margin: auto;
}
.sara-popup{
	display: flex;
	flex-wrap: nowrap;
	background-color: var(--system-10);
	flex-direction: column;
	padding: 12px;
	gap: 24px;
	justify-content: center;
	box-shadow: 0 3px 9px rgba(0,0,0,0.4);
}
.modal-content {
    border: 0;
	background-color: transparent;
}
.popup-top{
	width: 100%;
	display: flex;
	flex-wrap: nowrap;
	gap: 12px;
}
.checkbox-line{
	display: flex;
	flex-wrap: nowrap;
	gap: 8px;
	align-items: center;
	margin-bottom: 8px;
}
.select-outline{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	gap: 8px;
}
.select-outline label{
	margin-bottom: 0;
}
.select-outline-type-group{
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	gap: 8px;
}
.select-outline-format{
	margin-right: 96px;
	width: 240px;
	background-color: white;
	border: solid 1px var(--system-100);
	color: var(--system-100);
	text-align: center;
	padding-top: 4px;
	padding-bottom: 4px;
}
.select-outline-format:hover{
	background-color: var(--system-10);
}
.select-outline-format.active{
	background-color: var(--system-100);
	color: white;
}
.categories .nested-list{
	column-count: 1;
}
.level-1{
	border-bottom: var(--system-20);
}
.level-2{
	margin-right: 20px;
	border-bottom: var(--system-20);
}
.level-3{
	margin-right: 40px;
	border-bottom: var(--system-20);
}
.level-4{
	margin-right: 60px;
	border-bottom: var(--system-20);
	height: 28px;
}
.level-4 .by-icon-v02{
	font-size: 12px;
}
a.level-4{
	padding: 1px 4px;
}
a:hover.level-4{
	text-decoration: none;
	border-bottom: solid 1px var(--system-30);
}
a.level-4.active{
	text-decoration: none;
	background-color: var(--system-30);
}

.categories .sort-type{
    margin-top: 0;
}
.categories .sort-type .nested-content{
    padding: 0;
}
.categories .option-line{
	padding: 4px;
}
.right-gap-small{
	margin-right: 220px;
}
.right-gap-large{
	margin-right: 408px;
}

.browsing-route #search-subject-results-button{
	display: flex;
	margin-top: 92px;
}
.results-limited-text{
	overflow: hidden;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.result-item.active .results-limited-text{
	overflow:auto;
    display: block;
}
.results-limited-text p{
	margin-bottom: 8px;
}
.results-limited-text a{
	text-decoration: underline;
}
.results-area .result-item .by-icon-v02{
	display: none;
}
.results-area .result-item.active .by-icon-v02{
	display: flex;
}
.active a:hover.by-icon-v02{
	background-color: var(--system-30);
}
.results-area .result-item .subject-picture{
	display: none;
}
.results-area .result-item.active .subject-picture{
	display: flex;
}




.advanced-pagination-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    width: calc(100% - 110px);
    margin-left: 110px;
    max-width: 560px;
}
.navdisabled {
    color: var(--disabled-text);
    cursor: default;
}
.advanced-pagination {
    width: calc(100% - 150px);
    height: 60px;
    margin-right: 20px;
    margin-left: 20px;
}
.page {
    padding: 3px;
}
.advanced-pagination .page {
    font-size: 10pt;
    padding: 0;
}
.slider {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}
.advanced-pagination-area .slider.slider-horizontal {
    width: 100%;
    height: 26px;
}
.slider-track {
    position: absolute;
    cursor: pointer;
    background-image: -webkit-linear-gradient(top, #f5f5f5 0, #f9f9f9 100%);
    background-image: -o-linear-gradient(top, #f5f5f5 0, #f9f9f9 100%);
    background-image: linear-gradient(to bottom, #f5f5f5 0, #f9f9f9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5',endColorstr='#fff9f9f9',GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    border-radius: 4px;
}
.advanced-pagination-area .slider-track {
    background-image: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    background-color: var(--system-30);
}
.slider.slider-horizontal .slider-track {
    height: 10px;
    width: 100%;
    margin-top: -5px;
    top: 50%;
    left: 0;
}
.advanced-pagination-area .slider.slider-horizontal .slider-track {
    height: 6px;
    margin-top: -3px;
}
.slider.slider-horizontal.slider-rtl .slider-track {
    left: initial;
    right: 0;
}
.slider-track-low, .slider-track-high {
    position: absolute;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}
.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
    height: 100%;
    top: 0;
    bottom: 0;
	right: 0;
	width: 0;
}
.slider-selection {
    position: absolute;
    background-image: -webkit-linear-gradient(top, #f9f9f9 0, #f5f5f5 100%);
    background-image: -o-linear-gradient(top, #f9f9f9 0, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #f9f9f9 0, #f5f5f5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9',endColorstr='#fff5f5f5',GradientType=0);
    background-repeat: repeat-x;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,0.15);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}
.advanced-pagination-area .slider-selection {
    position: absolute;
    background-image: none;
    filter: none;
    -webkit-box-sizing: none;
    -moz-box-sizing: none;
    box-sizing: none;
    border-radius: 0;
    background-color: #660248;
}
.slider-track-low, .slider-track-high {
    position: absolute;
    background: transparent;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
}
.slider.slider-horizontal .slider-selection, .slider.slider-horizontal .slider-track-low, .slider.slider-horizontal .slider-track-high {
    height: 100%;
    top: 0;
    bottom: 0;
	    left: 0px;
    width: 100%;
}
.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 0;
}
.tooltip {
    line-height: 1;
    font-family: Alef;
    direction: rtl;
}
.slider .tooltip {
    pointer-events: none;
}
.advanced-pagination-area .slider .tooltip.top {
    margin-top: 2px;
    width: 30px;
    text-align: center;
}
.slider.slider-horizontal.slider-rtl .tooltip {
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}
.slider-handle {
    position: absolute;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: #337ab7;
    background-image: -webkit-linear-gradient(top, #337ab7 0, #2e6da4 100%);
    background-image: -o-linear-gradient(top, #337ab7 0, #2e6da4 100%);
    background-image: linear-gradient(to bottom, #337ab7 0, #2e6da4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7',endColorstr='#ff2e6da4',GradientType=0);
    background-repeat: repeat-x;
    filter: none;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    border: 0 solid transparent;
}
.slider-handle.custom {
    background: transparent none;
}
.advanced-pagination-area .slider-handle.custom {
    top: 4px;
    width: 30px;
    height: 18px;
    border-radius: 3px;
    background-color: var(--system-60);
    color: #ffffff;
    font-family: alef;
    font-size: 14px;
    padding: 0px 2px;
}
.advanced-pagination-area .slider.slider-horizontal.slider-rtl .slider-handle {
    margin-left: initial;
    margin-right: -15px;
    text-align: center;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.advanced-pagination-area .advanced-pagination .progress-handle {
    width: 30px;
    height: 18px;
    padding: 0px 2px;
    border-radius: 3px;
    background-color: var(--system-60);
    box-shadow: 0 1px 3px rgba(0,0,0,0.4);
    top: -6px;
    margin-right: -16px;
    color: #fff;
    text-align: center;
	z-index: 4;
}
.timeline-selected-item{
	width: 400px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 12px;
	gap: 12px;
	background-color: var(--system-20);
	box-shadow: 0 3px 9px rgba(0,0,0,0.4);
}
.timeline-selected-item a{
	text-decoration: underline;
}
.timeline-item{
	width: 120px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 4px;
	font-size: 9pt;
  	line-height: 11pt;
	padding: 8px;
	background-color: white;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.search-by-name{
	display: flex;
	align-items: center;
	gap: 4px;
}
/* SARA styles end */
